<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Create New Student Page</title>
    <!--<link rel="stylesheet" href="/css/hello.css"/>-->
</head>
<body>
<div layout:fragment="content">


    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8">

            <!-- Header -->
            <div class="header mt-md-5">
                <div class="header-body">
                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Pretitle -->
                            <h6 class="header-pretitle">
                                Create New
                            </h6>

                            <!-- Title -->
                            <h1 class="header-title">
                                Student
                            </h1>

                        </div>
                    </div> <!-- / .row -->
                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Nav -->

                        </div>
                    </div>
                </div>
            </div>

            <!-- Form -->
            <form class="mb-4">

                <div class="row">
                    <div class="col-12 col-md-6">

                        <!-- First name -->
                        <div class="form-group">

                            <!-- Label -->
                            <label>
                                First name
                            </label>

                            <!-- Input -->
                            <input class="form-control" type="text">

                        </div>

                    </div>
                    <div class="col-12 col-md-6">

                        <!-- Last name -->
                        <div class="form-group">

                            <!-- Label -->
                            <label>
                                Last name
                            </label>

                            <!-- Input -->
                            <input class="form-control" type="text">

                        </div>

                    </div>
                    <div class="col-12">

                        <!-- Email address -->
                        <div class="form-group">

                            <!-- Label -->
                            <label class="mb-1">
                                Email address
                            </label>

                            <!-- Form text -->
                            <small class="form-text text-muted">
                                This contact will be shown to others publicly, so choose it carefully.
                            </small>

                            <!-- Input -->
                            <input class="form-control" type="email">

                        </div>

                    </div>
                    <div class="col-12 col-md-6">

                        <!-- Phone -->
                        <div class="form-group">

                            <!-- Label -->
                            <label>
                                Phone
                            </label>

                            <!-- Input -->
                            <input class="form-control mb-3" placeholder="(___)___-____" data-mask="(000) 000-0000" autocomplete="off" maxlength="14" type="text">

                        </div>

                    </div>
                    <div class="col-12 col-md-6">

                        <!-- Birthday -->
                        <div class="form-group">

                            <!-- Label -->
                            <label>
                                Birthday
                            </label>

                            <!-- Input -->
                            <input class="form-control flatpickr-input" data-toggle="flatpickr" readonly="readonly" type="text">

                        </div>

                    </div>
                </div> <!-- / .row -->

                <!-- Divider -->
                <!--<hr class="mt-4 mb-5">-->


                <!-- Divider -->
                <hr class="mt-4 mb-5">

                <div class="row">
                    <div class="col-12 col-md-6 order-md-2">

                    </div>
                    <div class="col-12 col-md-6">

                        <!-- Password -->
                        <div class="form-group">

                            <!-- Label -->
                            <label>
                                Password
                            </label>

                            <!-- Input -->
                            <input class="form-control" type="password">

                        </div>

                        <!-- New password -->
                        <div class="form-group">

                            <!-- Label -->
                            <label>
                                New password
                            </label>

                            <!-- Input -->
                            <input class="form-control" type="password">

                        </div>

                        <!-- Submit -->
                        <button type="submit" class="btn btn-primary">
                            Update password
                        </button>

                    </div>
                </div> <!-- / .row -->

            </form>

        </div>
    </div> <!-- / .row -->


</div>

</body>
</html>